<div class="container py-5">

  <h1 class="mb-5 fw-bold">
    Admin Dashboard
  </h1>






  <% if(tickets.length === 0){ %>

    <div class="alert alert-info">

      No tickets found

    </div>

  <% } %>








  <% tickets.forEach(ticket => { %>

    <div class="card p-4 mb-4 shadow-sm">




      <!-- TITLE -->

      <h3>

        <%= ticket.title %>

      </h3>







      <!-- DESCRIPTION -->

      <p>

        <%= ticket.description %>

      </p>








      <!-- USER -->

      <p>

        User:

        <strong>

          <%= ticket.user.name %>

        </strong>

      </p>








      <!-- STATUS -->

      <p>

        Current Status:

        <strong>

          <%= ticket.status %>

        </strong>

      </p>








      <!-- REPLY FORM -->

      <form
        action="/tickets/<%= ticket._id %>/reply"
        method="POST"
      >




        <!-- MESSAGE -->

        <textarea
          name="message"
          class="form-control mb-3"
          placeholder="Write reply..."
          required
        ></textarea>








        <!-- STATUS -->

        <select
          name="status"
          class="form-select mb-3"
        >

          <option value="Open">

            Open

          </option>

          <option value="Pending">

            Pending

          </option>

          <option value="Resolved">

            Resolved

          </option>

        </select>








        <!-- BUTTON -->

        <button
          type="submit"
          class="btn btn-primary"
        >

          Reply & Update Status

        </button>

      </form>

    </div>

  <% }) %>

</div>